__pychache__
*.pyc
*.pyo   
venv
env
.DS_Store
.idea
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp

node_modules 
albert-base-v2_70_30_0.05wd_2lr_4epoch/
distilbert-base-uncased_length_set_balanced/
backend/bert-base-uncased_80_20_0.05wd_2lr_3epoch/
*.safetensors
*.bin
*.pt
*.pth